<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ExceptionLogPath" value="D:\MtimeTemp\MtimeBuildTool\"/>
    <add key="MtimeMovieCommunityRootPath" value="C:\Inetpub\wwwroot\MtimeMovieCommunityRoot\" />
    <add key="MtimeWapRootPath" value="C:\Inetpub\wwwroot\m.test.com\" />
    <add key="MtimeCompressToolPath" value="D:\CCNet\Codev3.0\Tools\MtimeClientCompress.root\MtimeClientCompress\MtimeClientCompress\bin\Release\MtimeClientCompress.exe" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
